.vscode
.bloop
.metals
.idea
cmake-build-debug
CMakeLists.txt
software/random_res
chiplab/sims/verilator/run_prog/single.log
*.o
*.d
~*
chiplab/chip/soc_demo/nscscc-team/xilinx_ip/*/gen
chiplab/fpga/nscscc-team/run_vivado/*.dmp
chiplab/fpga/nscscc-team/run_vivado/*.log
chiplab/fpga/nscscc-team/run_vivado/project
chiplab/fpga/nscscc-team/software/perf/bench/*/*.a
chiplab/chip/soc_demo/nscscc-team/uart_debug/testbench
chiplab/sims/verilator/run_prog/log
chiplab/sims/verilator/run_prog/obj
chiplab/sims/verilator/run_prog/obj_dir
chiplab/sims/verilator/run_prog/tmp

chiplab/sims/verilator/run_prog/output
chiplab/sims/verilator/run_random/log
sims/verilator/run_random/config-generator.mak
obj/
chiplab/software/examples/random_res
compile_commands.json
sims/verilator/.cache/clangd/index/*.*
inst_data.bin
.Xil
*.a
convert
Signup
designCPUByChisel/target
designCPUByChisel/project
designCPUByChisel/test_run_dir
chiplab/toolchains/*
!chiplab/toolchains/README.md
env.sh